@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto-bold-webfont.woff);
  src: url(fonts/roboto-bold-webfont.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto-regular-webfont.woff);
  src: url(fonts/roboto-regular-webfont.woff2);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0%;
  height: 100vh;
  font-family: "Roboto";
  font-weight: 700;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}
.sidebar {
  background-color: rgb(25, 146, 212);
  grid-area: 1/1/3/1;
  color: white;
}
.header {
  grid-area: 1/2/1/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.header-searchbar {
  background-color: grey;
}
.header-profile {
  background-color: wheat;
}
.header-greeting {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-content {
  background-color: rgb(228, 231, 239);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1/3;
  display: grid;
  grid-template: auto repeat(3, 1fr) / repeat(2, 1fr);
}
.projects h3 {
  grid-column: 1/3;
}
.announcements {
  grid-area: 1/2/2/3;
}
.trending {
  grid-area: 2/2/3/3;
}
.trending-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}
.trending {
  display: grid;
}
.trending-profile img {
  grid-row: 1/3;
}
.trending-profile p {
  margin: 0%;
}
