@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto-bold-webfont.woff);
  src: url(fonts/roboto-bold-webfont.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/roboto-regular-webfont.woff);
  src: url(fonts/roboto-regular-webfont.woff2);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  color: rgb(111, 111, 111);
}

html,
body {
  margin: 0;
  padding: 0%;
  height: 100vh;
  font-family: "Roboto";
  font-weight: 700;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}
.sidebar {
  background-color: rgb(25, 146, 212);
  grid-area: 1/1/3/1;
  color: white;
}
.sidebar-menu {
  display: grid;
  padding: 6%;
}
.sidebar-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2%;
}
.header {
  grid-area: 1/2/1/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.header-searchbar {
  display: grid;
  justify-items: end;
  align-items: center;
}
.header-searchbar input {
  background-color: rgb(228, 231, 239);
  border: none;
  border-radius: 30px;
  width: 90%;
  height: 40%;
  font-size: large;
  text-indent: 2%;
}
.header-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.header-greeting {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 10%;
}
.header-buttons button {
  background-color: rgb(25, 146, 212);
  border: none;
  border-radius: 30px;
  color: white;
  width: 90%;
  padding: 6% 12%;
}
.main-content {
  background-color: rgb(228, 231, 239);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.projects {
  grid-row: 1/3;
  display: grid;
  grid-template: auto repeat(3, 1fr) / repeat(2, 1fr);
  gap: 30px;
}
.projects h3 {
  grid-column: 1/3;
}
.project {
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid rgb(231, 182, 74);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  padding: 0px 30px;
}
.project-text {
  grid-column: span 2;
  align-self: center;
}
.project-buttons {
  grid-area: 2/2/3/3;
  justify-self: end;
}
.project .announcements {
  grid-area: 1/2/2/3;
}
.trending {
  grid-area: 2/2/3/3;
}
.trending-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}
.trending {
  display: grid;
}
.trending-profile img {
  grid-row: 1/3;
}
